<h1>Listing attachments</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Url</th>
    <th>Description</th>
    <th>Post</th>
    <th>Credits</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attachments.each do |attachment| %>
  <tr>
    <td><%= attachment.type %></td>
    <td><%= attachment.URL %></td>
    <td><%= attachment.description %></td>
    <td><%= attachment.post_id %></td>
    <td><%= attachment.Credits %></td>
    <td><%= link_to 'Show', attachment %></td>
    <td><%= link_to 'Edit', edit_attachment_path(attachment) %></td>
    <td><%= link_to 'Destroy', attachment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attachment', new_attachment_path %>
